<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cityExtent</key>
	<dict>
		<key>centerLat</key>
		<real>45.4759</real>
		<key>centerLong</key>
		<real>-75.58880000000001</real>
		<key>deltaLat</key>
		<real>0.263258</real>
		<key>deltaLong</key>
		<real>0.710821</real>
	</dict>
	<key>standardColor</key>
	<array>
		<string>ffa500</string>
		<string>d9ff00</string>
		<string>5aff00</string>
		<string>00ff25</string>
		<string>00ffa5</string>
		<string>00d9ff</string>
	</array>
	<key>routeVerteColor</key>
	<array>
		<string>266a2e</string>
		<string>266a50</string>
		<string>26626a</string>
		<string>26406a</string>
		<string>2e266a</string>
		<string>50266a</string>
	</array>
	<key>csvFileName</key>
	<string>PISTE_CYCLABLE</string>
</dict>
</plist>
